@import '../../../styles/main';

#contentContainer__conversation {
  height: 90vh;
  width: 100%;
  gap: 32px;
  padding: 0 32px;
  display: flex;
  justify-items: center;
  align-items: center;
}

#contentContainer__conversationList {
  height: 100%;
  display: flex;

  @media (max-width: 1400px) {
    display: none;
  }
}
