@import '../../../../../styles/colors.scss';

.userBadge {
  position: relative;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 20px;
  padding: 4px;
  border-radius: 4px;
  width: 200px;

  &:hover {
    background-color: $color-highlight-2;
  }

  &__image {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 8px;
  }

  &__name {
    font-size: 14px;
    font-weight: bold;
    color: $color-text;
  }

  &__dropdown {
    position: absolute;
    top: 36px;
    left: 0;
    height: auto;
    width: 184px;
    background-color: $color-highlight-2;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 8px;
    z-index: 1000;

    &__item {
      padding: 8px;
      width: 100%;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: $color-highlight-2;
      }

      &.-logout {
        background-color: $color-error;
      }
    }
  }
}
