@import '../../../styles/main';

.inputBox {
  height: 120px;
  width: 100%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  align-items: center;

  > button {
    align-self: flex-end;
  }
  > textarea {
    height: 100%;
    width: calc(100% - 100px);
    outline: none;
    font-size: 14px;
    color: $color-text;
    border: 0;
    transition: all 0.3s ease-in-out;
    padding: 12px;
    resize: none;
    @include backgroundPane($color-highlight-1, 30%);
    backdrop-filter: blur(4px);
    border-left: 5px solid $color-highlight-4;

    &::placeholder {
      color: #b3b3b3;
    }
    &:focus {
      border-left: 7px solid $color-highlight-4;
      box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
    }
  }
}
.inputBox__button {
  @include glowingBorder($color-highlight-2, 0.2);
  @include gradientColor($color-highlight-2);
}

// @media (max-width: 1200px) {
//   .inputBox {
//     width: 100%;
//   }
// }
