@import '../../../../../styles/main';
.collection {
  height: calc(100vh - 120px);
  max-height: calc(100vh - 320px);
  overflow-y: scroll;
  width: calc(100% - 120px);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 210px));
  justify-content: center;
  justify-items: center;
  align-content: flex-start;
  align-items: center;
  grid-gap: 36px;
  margin: 36px;
  padding: 24px;
  border-radius: 2px;
  @include backgroundPane($color-highlight-1, 30%);
}

.collection__card {
  height: 210px;
  width: 160px;
  font-size: 10px;
}
