@import '../../../../styles/colors';

.pageList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: $color-text;
    padding: 10px;

    &.-extended {
        height: 200px;
    }

    &__toggleButton {
        button {
            background-color: transparent;
            border: none;
            color: $color-text;
            cursor: pointer;
            margin-bottom: 10px;
        }

        & .pageList__elem {
            margin-bottom: 10px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}