$color-white: #f0f3ff;
$color-dark: #312244;

$color-very-light: #f8f6f4;
$color-error: #ff6969;
$color-light: #f0f3ff;
$color-text-light: #dfe6e664;

$color-highlight-1: #ff006e;
$color-highlight-2: #8338ec;
$color-highlight-3: #fee440;
$color-highlight-4: #00f5d4;

$color-background: $color-dark;
$color-text: $color-white;
$color-border: $color-text-light;

$gradient-1-2: linear-gradient(to bottom right, $color-highlight-1, $color-highlight-2);
$gradient-2-3: linear-gradient(to bottom right, $color-highlight-2, $color-highlight-3);
$gradient-3-4: linear-gradient(to bottom right, $color-highlight-3, $color-highlight-4);
$gradient-4-1: linear-gradient(to bottom right, $color-highlight-4, $color-highlight-1);
$gradient-2-4: linear-gradient(to bottom right, $color-highlight-2, $color-highlight-4);
