$color-white: #fff;
$color-dark: #0c111c;

$color-very-light: #f8f6f4;
$color-error: #ff6969;
$color-light: #e4e4e4;
$color-text-light: #dfe6e6;

$color-highlight-1: $color-white;
$color-highlight-2: #46484f;
$color-highlight-3: #3d63dd;

$color-background: $color-dark;
$color-text: $color-white;
$color-border: $color-highlight-2;
