$color-very-light: #f8f6f4;
$color-error: #ff6969;
$color-light: #e3f4f4;
$color-normal: #c4dfdf;
$color-dark: #d2e9e9;
$color-text: #2f3541;
$color-text-light: #2f354183;

$color-highlight: #b8f1b0;
