@import './variables';
@import './colors';
@import './fonts';

body {
  margin: 0;
  // font-family: 'Eina03', -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Fira Sans',
  // 'Droid Sans', 'Helvetica Neue', sans-serif;
  overflow: hidden;
  font-family: 'Space Grotesk', sans-serif;
  background: url('/assets/backgrounds/background_shapes.svg') no-repeat;
  resize: both;
  width: 100vw;
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
p,
div,
textarea {
  margin: 0;
  font-weight: normal;
  font-family: 'Space Grotesk', sans-serif;
}

button {
  padding: 0;
  font-family: 'Space Grotesk', sans-serif;
  background-color: unset;
  border: none;
  cursor: pointer;
}

// SCROLL BAR STYLING
::-webkit-scrollbar {
  width: 12px;
}

* {
}

::-webkit-scrollbar-track {
  border-radius: 12px;
}

::-webkit-scrollbar-thumb {
  background: rgba($color-highlight-2, 0.5);
  background-clip: padding-box;
  border: 4px solid rgb(0 0 0 / 0);
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba($color-highlight-2, 0.8);
  background-clip: padding-box;
  border: 4px solid rgb(0 0 0 / 0);
  border-radius: 50px;
}

@mixin hidden() {
  &.-hidden {
    display: none !important;
  }
}

@mixin screenCenter() {
  .screenCenter {
    position: absolute;
    left: 50vw;
    top: 50vh;
  }
}

.shadow {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
@mixin gradientColor($color) {
  background: linear-gradient(to bottom right, $color, darken($color, 5%));
}

@mixin glowing3dShadow() {
  box-shadow: rgba($color-highlight-1, 0.4) 5px 5px, rgba($color-highlight-1, 0.3) 10px 10px,
    rgba($color-highlight-1, 0.2) 15px 15px, rgba($color-highlight-1, 0.1) 20px 20px,
    rgba($color-highlight-1, 0.05) 25px 25px;
}
@mixin shadow1d() {
  box-shadow: #000 5px 5px;
}
@mixin glowing3dShadowDrop($color) {
  filter: drop-shadow(5px 5px 5px $color);
}

@mixin backgroundPane($color, $opacity) {
  background-color: darken(rgba($color, $opacity), 50%);
}

@mixin backgroundPanePattern($color, $opacity) {
  background: url('/assets/patterns/pattern.svg'), darken(rgba($color, $opacity), 50%);
}

@mixin glowingBorder($color, $intensity: 1) {
  $glow-size: 5px * $intensity;
  $glow-size-half: calc($glow-size / 2);
  border: 2px solid $color;
  box-shadow: 0 0 $glow-size $color, 0 0 $glow-size * 2 $color, 0 0 $glow-size * 4 $color, 0 0 $glow-size * 8 $color;
  animation: glowing-$color 2s infinite;
  @keyframes glowing-$color {
    0% {
      box-shadow: 0 0 $glow-size $color, 0 0 $glow-size * 2 $color, 0 0 $glow-size * 4 $color, 0 0 $glow-size * 8 $color;
    }
    50% {
      box-shadow: 0 0 $glow-size * 2 $color, 0 0 $glow-size * 4 $color, 0 0 $glow-size * 8 $color,
        0 0 $glow-size * 16 $color;
    }
    100% {
      box-shadow: 0 0 $glow-size $color, 0 0 $glow-size * 2 $color, 0 0 $glow-size * 4 $color, 0 0 $glow-size * 8 $color;
    }
  }
}
