@import '../../../styles/main';
#mainContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 56px 1fr;
}

#leftPane {
  position: relative;
  grid-column: 1;
  grid-row: 2;
  @include backgroundPane($color-highlight-1, 40%);
  &__expandButton {
    position: absolute;
    top: 50%;
    right: 0;
  }
}

#header {
  grid-column: 1;
  grid-row: 1;
}

#contentContainer {
  //100% - 56px for the header
  height: calc(100% - 56px);
  grid-column: 2;
  grid-row: 2;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 56px;
  padding: 28px;
}
