@import '../../../styles/main';

.button {
  border: none;
  background-color: $color-highlight-1;
  padding: 10px;
  border-radius: 0px;
  font-size: 14px;
  color: $color-white;
  transition: all 0.3s ease;
  @include glowingBorder($color-highlight-1, 0.2);
  &:hover {
    transform: scaleY(1.05);
  }
}
