@import '../../../styles/colors.scss';

.button {
  border: none;
  background-color: $color-highlight-1;
  padding: 10px;
  border-radius: 10px;
  font-size: 12px;
  color: $color-text;

  &:hover {
    background-color: darken($color-highlight-1, 10%);
  }
}
